/* .gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
} */
/* .container {
}
.gallery-list {
}

.loader {
}
.js-loader {
}
.is-hidden {
}
.search-section {
}
.search-form {
}

.input-group {
}

.form-control {
}

.btn {
}
.btn-outline-success {
} */
